<div class="fileLayout">

        <h3><%=folder.name %> / <%=file.name %></h3>

        <div class="file-info">
            <p> name: <%=file.name %></p>
            <p> size: <%=file.size %> bytes</p>
            <p> type: <%=file.type %></p>
            <p> creation time: <%=file.createdAt %></p>
            <p> original name: <%=file.original_name %></p>
        </div>


    <div class="download_and_delete">

        <form action="/download-file/<%= file.id %>">
            <button class="btn-default downloadBtn" type="submit" >Download</button>
        </form>

        <form action="/folders/<%= folder.id %>/files/<%= file.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn delete-btn change-btn"><a href="#"> <img src="/img/delete.svg" alt="rubbish"></a></button>
        </form>
    </div>
</div>
