<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./../../style.css">
    </head>
<body>

    <div class="page mainPage">
        <div class="main-container">
            <div class="left-panel">
                <div class="welcome-block">
                    <p class="welcomeUser">welcome, <%= user.nickname %></p>
                </div>
                <p class="foldersAmount">amount of folders: <%= folders.length %></p>
                <div class="folders-array">
                    <% if (!folders) { %>
                        <p> no folders yet </p>
                    <% } else { %>
                        <% folders.forEach(function(folder) { %>
                            <a href="#" class="folder-link"> <%= folder.name %> </a>
                        <% }); %>
                    <% } %>
                </div>
                <button class="btn-default"> <a href="/main/folders/create"> Add new folder </a> </button>
                <a href="/log-out" class="shadow_text logOutBtn">Log out</a>
            </div>


            <div class="right-panel">
                <% if (content === 'lastFolder' && typeof lastFolder !== 'undefined' && lastFolder) { %>
                    <%- include('../folderLayout') %>
                <% } else if (content === 'newFolderForm') { %>
                    <%- include('../forms/newFolderForm') %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html> 