<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
<body>

    <div class="page mainPage">
        <div class="main-container">
            <div class="left-panel">
                <div class="welcome-block">
                    <p class="welcomeUser">welcome, <%= user.nickname %></p>
                </div>
                <p class="foldersAmount">amount of folders: <%= folders.length %></p>
                <div class="folders-array">
                    <% if (!folders) { %>
                        <p> no folders yet </p>
                    <% } else { %>
                        <% folders.forEach(function(folder) { %>
                            <a href="/folders/<%= folder.id %>" class="folder-link"> <%= folder.name %> </a>
                        <% }); %>
                    <% } %>
                </div>
                <button class="btn-default"> <a href="/folders/create"> Add new folder </a> </button>
                <a href="/log-out" class="shadow_text logOutBtn">Log out</a>
            </div>


            <div class="right-panel">
                <% if (content === 'lastFolder' && typeof folder !== 'undefined' && folder) { %>
                    <%- include('../folderLayout') %>
                <% } else if (content === 'newFolderForm') { %>
                    <%- include('../forms/newFolderForm') %>
                <% } else if (content === 'folder') { %>
                    <%- include('../folderLayout') %>
                <% } else if (content === 'newFileForm') { %>
                    <%- include('../forms/newFileForm') %>
                <% } else if (content === 'error') { %>
                    <h2>error</h2>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html> 